extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let vehicleid = toShow._id
    - let vehiclemake = toShow.make
    - let vehiclemodel = toShow.model
    - let vehicleyear = toShow.year
    - let actionid = "/resource/resource/vehicles/" + vehicleid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='vehicleAttr mr-3') Vehicle ID is:
        div #{vehicleid}
      div.row
        div(class='vehicleAttr mr-3') Vehicle make is:
        div #{vehiclemake}
      div.row
        div(class='vehicleAttr mr-3') Vehicle model is:
        div #{vehicleyear}
      div.row
        div(class='vehicleAttr mr-3') Vehicle year is:
        div #{vehiclemodel}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/vehicles'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/costumes'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
